@import helper._

@main("Vycos") {

@menu()

<div class="warp">

    <section class="BI-page-banner">
        <div class="container">
            <div class="row  buffer-bottom-lg buffer-top-lg text-center">
                <h1>Vycos Consulting Services</h1>
            </div>
        </div>
    </section>
    <section class="BI-about">
        <div class="container">
            <div class="row  buffer-bottom-lg buffer-top-lg ">
                <div class="clearfix about-cont">
                        <h1>Vycos企业目标</h1>
                        <p>Vycos Consulting Limited的团队成员有多年的IT管理和技术经验。由于几位创始人多次见到搁浅或是未能正确实施商务智能系统，决心
                            创建公司以提供高质量和合理收费的服务。通过公司强大的技术研发和支持后盾，帮助合作公司合理搭建IT方案，达到最大的投资回报。</p>
                </div>
                <div class="clearfix buffer-bottom-lg buffer-top-lg about-team ">
                    <h1 class="text-center title-team">Vycos创始团队</h1>
                    <div class="clearfix buffer-bottom-35 buffer-bottom-border">
                        <div class="col-xs-6 col-md-1">
                            <div class="about-image">
                                <img class="img-thumbnail" src="http://yzp2p.com/view/css/company_people/h.jpg" width="120" height="140" alt="Quentin">
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-10 col-md-offset-1">
                            <h3>联合创始人·郭先生</h3>
                            <p>
                                毕业于新西兰维多利亚大学，拥有电脑科学和工商管理硕士（MBA）双学位。曾多年担任新西兰各大政府部门高级IT顾问，包括新西兰海关，移民局， 商务部，劳工部，事故理赔部等。有丰富的IT，税收法律，商业法律，金融及管理经验。于2013年联合创办赢正P2P信息服务平台。
                            </p>
                        </div>

                    </div>
                    <div class="clearfix buffer-bottom-35 buffer-bottom-border">
                        <div class="col-xs-6 col-md-1">
                            <div class="about-image">
                                <img class="img-thumbnail" src="http://yzp2p.com/view/css/company_people/h.jpg" width="120" height="140" alt="Quentin">
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-10 col-md-offset-1">
                            <h3>联合创始人·郭先生</h3>
                            <p>
                                毕业于新西兰维多利亚大学，拥有电脑科学和工商管理硕士（MBA）双学位。曾多年担任新西兰各大政府部门高级IT顾问，包括新西兰海关，移民局， 商务部，劳工部，事故理赔部等。有丰富的IT，税收法律，商业法律，金融及管理经验。于2013年联合创办赢正P2P信息服务平台。
                            </p>
                        </div>

                    </div>
                    <div class="clearfix buffer-bottom-35 buffer-bottom-border">
                        <div class="col-xs-6 col-md-1">
                            <div class="about-image">
                                <img class="img-thumbnail" src="http://yzp2p.com/view/css/company_people/h.jpg" width="120" height="140" alt="Quentin">
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-10 col-md-offset-1">
                            <h3>联合创始人·郭先生</h3>
                            <p>
                                毕业于新西兰维多利亚大学，拥有电脑科学和工商管理硕士（MBA）双学位。曾多年担任新西兰各大政府部门高级IT顾问，包括新西兰海关，移民局， 商务部，劳工部，事故理赔部等。有丰富的IT，税收法律，商业法律，金融及管理经验。于2013年联合创办赢正P2P信息服务平台。
                            </p>
                        </div>

                    </div>
                    <div class="clearfix ">
                        <div class="col-xs-6 col-md-1">
                            <div class="about-image">
                                <img class="img-thumbnail" src="http://yzp2p.com/view/css/company_people/h.jpg" width="120" height="140" alt="Quentin">
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-10 col-md-offset-1">
                            <h3>联合创始人·郭先生</h3>
                            <p>
                                毕业于新西兰维多利亚大学，拥有电脑科学和工商管理硕士（MBA）双学位。曾多年担任新西兰各大政府部门高级IT顾问，包括新西兰海关，移民局， 商务部，劳工部，事故理赔部等。有丰富的IT，税收法律，商业法律，金融及管理经验。于2013年联合创办赢正P2P信息服务平台。
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="BI-contact contact-bg-34">
        <div class="container">
            <div class="row  buffer-bottom-lg buffer-top-lg">
                <h1>您对Vycos感兴趣吗？</h1>
                <a href="@routes.Contact.index">
                    联系我们
                </a>
            </div>
        </div>
    </section>
</div>

@footer()

}