@import helper._

@main("Vycos") {

@menu()

<div class="warp">
        <section class="BI-page-banner">
            <div class="container">
                <div class="row  buffer-bottom-lg buffer-top-lg text-center">
                    <h1>Vycos Consulting Services</h1>
                </div>
            </div>
        </section>
    <section class="BI-customer">
        <div class="container">
            <div class="row  buffer-bottom-lg buffer-top-lg">
                <div class="col-xs-6 col-md-4">
                    <div class="customer-image">
                        <img typeof="foaf:Image" src="/assets/images/c1.JPG" width="185" height="90" alt="Acc">
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="customer-image">
                        <img typeof="foaf:Image" src="/assets/images/c2.JPG"  width="185" height="90" alt="MSD">
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="customer-image">
                        <img typeof="foaf:Image" src="/assets/images/c3.JPG"  width="185" height="90" alt="NZIS">
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="BI-customer">
        <div class="container">
            <div class="row  buffer-bottom-lg buffer-top-lg">
                <h2 class="text-center buffer-bottom-35">客户介绍</h2>
               <div class="clearfix buffer-bottom-35 buffer-bottom-border">
                   <div class="col-xs-6 col-md-3">
                       <div class="customer-image">
                           <img typeof="foaf:Image" src="/assets/images/c1.JPG" width="185" height="90" alt="Acc">
                       </div>
                   </div>
                   <div class="col-xs-6 col-md-9">
                       <h2>个案简介1 － ACC</h2>
                       <p>Accident Compensation Corporation（ACC）是新西兰唯一的国有保险公司。为全新西兰人民及新西兰游客提供意外险。由于数据量庞大，商业范围独特和逻辑复杂，ACC采用了Oracle和SAS双重方案，
                           从而更好的解决数据处理，分析和预测的需求。本公司为ACC提供长期顾问服务与技术支持，为ACC在数据复制，数据质量管理监控，数据分析，平台实施，平台维护等多个关键环节提供了高水准的服务。</p>
                   </div>
               </div>
                <div class="clearfix buffer-bottom-35 buffer-bottom-border">
                    <div class="col-xs-6 col-md-3">
                        <div class="customer-image">
                            <img typeof="foaf:Image" src="/assets/images/c2.JPG"  width="185" height="90" alt="MSD">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-9">
                        <h2>个案简介2 － MSD</h2>
                        <p>Ministry of Social Development（MSD）是新西兰最大的政府部门之一，雇佣超过6，000员工。主要为新西兰社会发展，社区服务，福利，国民生计等事业作出了巨大的贡献。本公司长期对MSD提供
                            顾问服务与技术支持，帮助MSD构建，运营，维护和持续性开发大数据数据仓库和BI平台。</p>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-xs-6 col-md-3">
                        <div class="customer-image">
                            <img typeof="foaf:Image" src="/assets/images/c3.JPG"  width="185" height="90" alt="NZIS">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-9">
                        <h2>个案简介3 － NZIS</h2>
                        <p>新西兰拥有长期的移民历史，安全，繁荣，宁静，舒适是多数西方和亚洲移民青睐新西兰的主要原因。New Zealand Immigration Services（NZIS）作为新西兰审批和管理移民的政府部门，在新西兰被视为
                            国家的虚拟国门。NZIS有庞大的数据量，并且对有十分严谨，准确，及时的数据分析和预测需求。本公司作为NZIS的长期技术顾问，帮助NZIS构建并维护多套SAS和Microsoft BI系统，良好解决了
                            数据安全和时效性等多个难题，支持了全球超过20个NZIS在不同时区对不同数据的多元化需求。</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="BI-contact contact-bg-34">
        <div class="container">
            <div class="row  buffer-bottom-lg buffer-top-lg">
                <h1>您对Vycos感兴趣吗？</h1>
                <a href="@routes.Contact.index">
                    联系我们
                </a>
            </div>
        </div>
    </section>
</div>

@footer()

}