@import helper._

@main("Vycos") {

@menu()

<div class="warp">
    <section class="BI-page-banner">
        <div class="container">
            <div class="row  buffer-bottom-lg buffer-top-lg text-center">
                <h1>Vycos Consulting Services</h1>
            </div>
        </div>
    </section>

    <section class="BI-product">
        <div class="container">
            <div class="row buffer-bottom-lg buffer-top-lg">
                <div class="clearfix buffer-bottom-30">
                    <div class="col-xs-6 col-md-4">
                        <div class="tile buffer-height-468">
                            <div class="tile-image">
                                <i class="glyphicon glyphicon-tags"></i>
                            </div>
                            <h3 class="tile-title">一站式商务智能平台解决方案</h3>

                            <p>本公司提供多种商务智能平台解决方案。根据客户需求选择最佳的解决方案，达到安全，快速，及时，准确的信息处理和数据发现。
                                客户可以通过实时的数据掌控公司动向，制定战略性技及战术性目标，把控风险，调整公司运营。</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="tile buffer-height-468">
                            <div class="tile-image">
                                <i class="glyphicon glyphicon-hdd"></i>
                            </div>
                            <h3 class="tile-title">Oracle</h3>

                            <p>本公司有多年Oracle系统经验。是Oracle金牌合伙人。公司提供一站式Oracle服务，包括系统部署，实施，运维。Oracle BI软件开发，数据仓库实施等。</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="tile buffer-height-468">
                            <div class="tile-image">
                                <i class="glyphicon glyphicon-stats"></i>
                            </div>
                            <h3 class="tile-title">SAS</h3>

                            <p>SAS提供全球领先的数据分析和发现软件解决方案。本公司提供SAS软件平台的整体实施方案，帮客户选择及搭建最适合的解决方案。对于大型系统本公司提供SAS Business
                                Intelligence和SAS Visual Analytics
                                系统实施的方案.</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-xs-6 col-md-4">
                        <div class="tile buffer-height-468">
                            <div class="tile-image">
                                <i class="glyphicon glyphicon-th-large"></i>
                            </div>
                            <h3 class="tile-title">Microsoft BI</h3>

                            <p>Microsoft BI系统方案有良好的IT整合性和兼容性，是中小型企业BI的首选。本公司有多年部署Microsoft BI平台经验，提供SSRS开发和Microsoft
                                Sharepoint BI系统实施方案。</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="tile buffer-height-468">
                            <div class="tile-image">
                                <i class="glyphicon glyphicon-cloud"></i>
                            </div>
                            <h3 class="tile-title">Oracle</h3>

                            <p>根据客户的需要，本公司可以为客户提供云服务平台，私有云平台搭建及维护，数据中心虚拟化，软件式网络和数据存储。根据客户的需求达到投资的最大回报。
                                在达到目标的同时不以放弃系统的增长性和安全性为方法，从而让客户可以灵活的控制IT系统的投入，降低客户的总拥有成本（TCO）。</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div class="tile buffer-height-468">
                            <div class="tile-image">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </div>
                            <h3 class="tile-title">Cognos</h3>

                            <p>商业智能可以从不同的数据源中聚合和巩固完全不同的内外部数据到一个中心框架中，创建一个公共的、共享的上下文以在一个部门或整个组织中实现有效的、协作的决策制定。商业智能可以在部门级别展开以支持一个特定的6Σ项目，也可以在企业范围内展开以衡量和管理整个公司的绩效。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="BI-contact contact-bg-34">
        <div class="container">
            <div class="row  buffer-bottom-lg buffer-top-lg">
                <h1>您对Vycos感兴趣吗？</h1>
                <a href="@routes.Contact.index">
                    联系我们
                </a>
            </div>
        </div>
    </section>

</div>

@footer()

}